/*Escala de color primary*/
/*Medium : #80bdff
Light : #d9ebff*/

/* animaciÃ³n */


.puffOut {
	animation: puffOut 2s 10;
	animation-fill-mode: both;
	animation-delay: 10s;
 }

@keyframes puffOut {
  0% {
    opacity: 1;
            transform-origin: 10% 10%;
            transform: scale(1, 1);
		}
  50% {
    opacity: 1;
            transform-origin: 10% 10%;
            transform: scale(1.1, 1.1);
        }

  100% {
    opacity: 1;
            transform-origin: 10% 10%;
            transform: scale(1, 1);
        } }


.containerAcademia {
	margin-bottom: 80px;
}
/*Resaltar una card. Ejemplo:Acudiente*/
.headerComponenteResaltado {
	background-color: #80bdff;
}

.bodyComponenteResaltado {
	background-color:#d9ebff;
}

.listComponenteResaltado {
	background-color:#d9ebff;
}

.iconoNavBar {
	font-size: 1.5em;
}

.navbar_aApp {
	background-color: #ffffff;
	border-top: solid 1px #EBE9E9;
	border-bottom: solid 1px #EBE9E9;
}

h2, h3 {

      font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

  }

.contenedorTitulos {
  border: solid 1px #80bdff;
  box-shadow: -5px 0px 0px 0px lightskyblue;
  border-radius: 5px;
  padding: 10px;
}


/* Para mobiles*/
/* Jumbotron*/
#navBootom {
  visibility: hidden; 
 }


@media only screen and (max-width: 600px) {
  #navBootom {
    visibility: visible; 
   }
}

#navJumbotron {
  visibility: visible;
  margin-bottom: 0; 
 }


@media only screen and (max-width: 600px) {
  #navJumbotron {
    display: none;
   }
}

@media only screen and (max-width: 600px) {
  .textMobile {
    font-size: medium;
   }
}

.listCell {
  background-color: #d3d9df;
  display: inline-block;

}

.listUlCell {
  margin-top: 15px;
}

.borderIcono {
  border: solid 1px #929597;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 2px 1px 3px 0px black;
}

/* Estilos card principales iniciales*/
.linkWhite {
  color: white!important;
}

.navbar-brand {
  margin-right: 0;
}

/* Estilos card*/
.card {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* colores alternativos badges*/
.colorAltCoral {
  background-color: coral;
}
.colorAltmediumslateblue {
  background-color:mediumslateblue;
}
